---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Form from '../components/Form.astro';
---

<Layout title="Frontend Mentor | Interactive card details form">
  <main>
    <section>
      <Card display="front" />
      <Card display="back" />
    </section>
    <Form />
  </main>
</Layout>

<style>
  main {
    background-color: aqua;
  }
</style>
