---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Form from '../components/Form.astro';
---

<Layout title="Frontend Mentor | Interactive card details form">
  <h1 style="display: none;">Main Form</h1>
  <section class="card_section">
    <Card display="back" align="end" />
    <Card display="front" align="start" />
  </section>
  <Form />
</Layout>

<script>
  const ownerNameInputField = document.getElementById('ownerName');
  const cardNumberInputField = document.getElementById('cardNumber');
  const expDateMInputField = document.getElementById('expDateM');
  const expDateYInputField = document.getElementById('expDateY');
  const cvcNumberInputField = document.getElementById('cvcNumber');

  if (ownerNameInputField) {
    ownerNameInputField.addEventListener('input', validateAndUpdateOwnerName);
    ownerNameInputField.addEventListener('keydown', preventNumbers);
  }
  if (cardNumberInputField) {
    cardNumberInputField.addEventListener('input', validateAndUpdateCardNumber);
    cardNumberInputField.addEventListener('keydown', preventLetters);
  }
  if (expDateMInputField) {
    expDateMInputField.addEventListener('input', validateAndUpdateExpDateM);
    expDateMInputField.addEventListener('keydown', preventLetters);
  }
  if (expDateYInputField) {
    expDateYInputField.addEventListener('input', validateAndUpdateExpDateY);
    expDateYInputField.addEventListener('keydown', preventLetters);
  }
  if (cvcNumberInputField) {
    cvcNumberInputField.addEventListener('input', validateAndUpdateCvcNumber);
    cvcNumberInputField.addEventListener('keydown', preventLetters);
  }

  function cc_format(value: string) {
    const v = value.replace(/\s+/g, '').replace(/[^0-9]/gi, '');
    const matches = v.match(/\d{4,16}/g);
    const match = (matches && matches[0]) || '';
    const parts = [];

    for (let i = 0, len = match.length; i < len; i += 4) {
      parts.push(match.substring(i, i + 4));
    }

    if (parts.length) {
      return parts.join(' ');
    } else {
      return value;
    }
  }

  function preventLetters(event: KeyboardEvent) {
    if (event.key.match(/^[a-z]$/)) {
      event.preventDefault();
    }
  }
  function preventNumbers(event: KeyboardEvent) {
    if (event.key.match(/^[0-9]$/)) {
      event.preventDefault();
    }
  }

  function validateAndUpdateOwnerName() {
    const ownerNameOutput = document.getElementById('ownerNameOutput');

    const ownerNameInputValue = (ownerNameInputField as HTMLInputElement).value;

    if (ownerNameInputValue.length > 32) {
      (ownerNameInputField as HTMLInputElement).value =
        ownerNameInputValue.substring(0, 32);
      return;
    }

    if (ownerNameInputValue.length == 0) {
      (ownerNameOutput as HTMLDivElement).textContent = 'Jane Appleseed';
      return;
    }

    (ownerNameOutput as HTMLDivElement).textContent = ownerNameInputValue;
  }

  function validateAndUpdateCardNumber() {
    const cardNumberOutput = document.getElementById('cardNumberOutput');
    const formattedValue = cc_format(
      (cardNumberInputField as HTMLInputElement).value,
    );
    (cardNumberInputField as HTMLInputElement).value = formattedValue;
    (cardNumberOutput as HTMLDivElement).textContent = formattedValue;
  }

  function validateAndUpdateExpDateM() {
    const expDateMOutput = document.getElementById('expDateMOutput');

    const expDateMInputValue = (expDateMInputField as HTMLInputElement).value;

    // Pad the formatted value with zeros to make it 2 characters long
    let expDateMPaddedValue = expDateMInputValue.padStart(2, '0');

    if (expDateMInputValue == '012') {
      (expDateMInputField as HTMLInputElement).value = '12';
      (expDateMOutput as HTMLSpanElement).textContent = '12';
      return;
    }
    if (expDateMInputValue == '011') {
      (expDateMInputField as HTMLInputElement).value = '11';
      (expDateMOutput as HTMLSpanElement).textContent = '11';
      return;
    }
    if (expDateMInputValue == '010') {
      (expDateMInputField as HTMLInputElement).value = '10';
      (expDateMOutput as HTMLSpanElement).textContent = '10';
      return;
    }

    if (expDateMInputValue.match(/^[1-9]$/)) {
      (expDateMInputField as HTMLInputElement).value =
        expDateMInputValue.padStart(2, '0');
    }
    if (expDateMInputValue.length > 2) {
      (expDateMInputField as HTMLInputElement).value =
        expDateMInputValue.substring(0, 2);
      return;
    }

    (expDateMOutput as HTMLSpanElement).textContent = expDateMPaddedValue;
  }

  function validateAndUpdateExpDateY() {
    const expDateYOutput = document.getElementById('expDateYOutput');

    const expDateYInputValue = (expDateYInputField as HTMLInputElement).value;

    // Pad the formatted value with zeros to make it 2 characters long
    let expDateYPaddedValue = expDateYInputValue.padStart(2, '0');

    if (expDateYInputValue.match(/^[1-9]$/)) {
      (expDateYInputField as HTMLInputElement).value =
        expDateYInputValue.padStart(2, '0');
    }

    if (expDateYInputValue.match(/^0[1-9][0-9]$/)) {
      (expDateYInputField as HTMLInputElement).value =
        expDateYInputValue.substring(1, 3);
      (expDateYOutput as HTMLSpanElement).textContent =
        expDateYInputValue.substring(1, 3);
      return;
    }

    if (expDateYInputValue.length > 2) {
      (expDateYInputField as HTMLInputElement).value =
        expDateYInputValue.substring(0, 2);
      return;
    }

    (expDateYOutput as HTMLSpanElement).textContent = expDateYPaddedValue;
  }

  function validateAndUpdateCvcNumber() {
    const cvcNumberOutput = document.getElementById('cvcNumberOutput');

    const cvcNumberInputValue = (cvcNumberInputField as HTMLInputElement).value;

    // Pad the formatted value with zeros to make it 2 characters long
    let cvcNumberPaddedValue = cvcNumberInputValue.padStart(3, '0');

    if (cvcNumberInputValue.length > 3) {
      (cvcNumberInputField as HTMLInputElement).value =
        cvcNumberInputValue.substring(0, 3);
      return;
    }

    (cvcNumberOutput as HTMLSpanElement).textContent = cvcNumberPaddedValue;
  }
</script>

<style>
  .card_section {
    display: flex;
    flex-direction: column;
    max-width: 415px;
    place-self: center stretch;
  }

  @media screen and (min-width: 1200px) {
    .card_section {
      margin-left: 148px;
      margin-right: -85px;
      max-width: 700px;
    }
  }
</style>
