---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Form from '../components/Form.astro';
---

<Layout title="Frontend Mentor | Interactive card details form">
  <section class="card_section">
    <Card display="back" align="end" style={{ marginBottom: '-60px' }} />
    <Card display="front" align="start" />
  </section>
  <Form />
</Layout>

<script>
  const ownerNameInputField = document.getElementById('ownerName');
  const cardNumberInputField = document.getElementById('cardNumber');
  const expDateMInputField = document.getElementById('expDateM');
  const expDateYInputField = document.getElementById('expDateY');
  const cvcNumberInputField = document.getElementById('cvcNumber');

  if (ownerNameInputField) {
    ownerNameInputField.addEventListener('input', validateAndUpdateOwnerName);
  }
  if (cardNumberInputField) {
    cardNumberInputField.addEventListener('input', validateAndUpdateCardNumber);
    cardNumberInputField.addEventListener('keydown', preventLetterE);
  }
  if (expDateMInputField) {
    expDateMInputField.addEventListener('input', validateAndUpdateExpDateM);
    expDateMInputField.addEventListener('keydown', preventLetterE);
  }
  if (expDateYInputField) {
    expDateYInputField.addEventListener('input', validateAndUpdateExpDateY);
    expDateYInputField.addEventListener('keydown', preventLetterE);
  }
  if (cvcNumberInputField) {
    cvcNumberInputField.addEventListener('input', validateAndUpdateCvcNumber);
    cvcNumberInputField.addEventListener('keydown', preventLetterE);
  }

  function cc_format(value: string) {
    const v = value.replace(/\s+/g, '').replace(/[^0-9]/gi, '');
    const matches = v.match(/\d{4,16}/g);
    const match = (matches && matches[0]) || '';
    const parts = [];

    for (let i = 0, len = match.length; i < len; i += 4) {
      parts.push(match.substring(i, i + 4));
    }

    if (parts.length) {
      return parts.join(' ');
    } else {
      return value;
    }
  }

  function preventLetterE(event: KeyboardEvent) {
    // Prevent default behavior if the pressed key is "e"
    if (event.key === 'e') {
      event.preventDefault();
    }
  }

  function validateAndUpdateOwnerName() {
    const ownerNameOutput = document.getElementById('ownerNameOutput');

    const ownerNameInputValue = (ownerNameInputField as HTMLInputElement).value;

    if (ownerNameInputValue.length > 32) {
      (ownerNameInputField as HTMLInputElement).value =
        ownerNameInputValue.substring(0, 32);
      return;
    }

    if (ownerNameInputValue.length == 0) {
      (ownerNameOutput as HTMLDivElement).textContent = 'Jane Appleseed';
      return;
    }

    (ownerNameOutput as HTMLDivElement).textContent = ownerNameInputValue;
  }

  function validateAndUpdateCardNumber() {
    const cardNumberOutput = document.getElementById('cardNumberOutput');
    const formattedValue = cc_format(
      (cardNumberInputField as HTMLInputElement).value,
    );
    (cardNumberInputField as HTMLInputElement).value = formattedValue;
    (cardNumberOutput as HTMLDivElement).textContent = formattedValue;
  }

  function validateAndUpdateExpDateM() {
    const expDateMOutput = document.getElementById('expDateMOutput');

    const expDateMInputValue = (expDateMInputField as HTMLInputElement).value;

    // Remove any non-digit characters from the input value
    const expDateMFormattedValue = expDateMInputValue.replace(/\De/g, '');

    // Pad the formatted value with zeros to make it 2 characters long
    let expDateMPaddedValue = expDateMFormattedValue.padStart(2, '0');

    if (expDateMInputValue == '012') {
      (expDateMInputField as HTMLInputElement).value = '12';
      (expDateMOutput as HTMLSpanElement).textContent = '12';
      return;
    }
    if (expDateMInputValue == '011') {
      (expDateMInputField as HTMLInputElement).value = '11';
      (expDateMOutput as HTMLSpanElement).textContent = '11';
      return;
    }
    if (expDateMInputValue == '010') {
      (expDateMInputField as HTMLInputElement).value = '10';
      (expDateMOutput as HTMLSpanElement).textContent = '10';
      return;
    }

    if (
      expDateMInputValue === '1' ||
      expDateMInputValue === '2' ||
      expDateMInputValue === '3' ||
      expDateMInputValue === '4' ||
      expDateMInputValue === '5' ||
      expDateMInputValue === '6' ||
      expDateMInputValue === '7' ||
      expDateMInputValue === '8' ||
      expDateMInputValue === '9'
    ) {
      (expDateMInputField as HTMLInputElement).value =
        expDateMFormattedValue.padStart(2, '0');
    }
    if (expDateMInputValue.length > 2) {
      (expDateMInputField as HTMLInputElement).value =
        expDateMInputValue.substring(0, 2);
      return;
    }

    (expDateMOutput as HTMLSpanElement).textContent = expDateMPaddedValue;
  }

  function validateAndUpdateExpDateY() {
    const expDateYOutput = document.getElementById('expDateYOutput');

    const expDateYInputValue = (expDateYInputField as HTMLInputElement).value;

    // Remove any non-digit characters from the input value
    const expDateYFormattedValue = expDateYInputValue.replace(/\De/g, '');

    // Pad the formatted value with zeros to make it 2 characters long
    let expDateYPaddedValue = expDateYFormattedValue.padStart(2, '0');

    if (expDateYInputValue.length > 2) {
      (expDateYInputField as HTMLInputElement).value =
        expDateYInputValue.substring(0, 2);
      return;
    }

    (expDateYOutput as HTMLSpanElement).textContent = expDateYPaddedValue;
  }

  function validateAndUpdateCvcNumber() {
    const cvcNumberOutput = document.getElementById('cvcNumberOutput');

    const cvcNumberInputValue = (cvcNumberInputField as HTMLInputElement).value;

    // Remove any non-digit characters from the input value
    const cvcNumberFormattedValue = cvcNumberInputValue.replace(/\De/g, '');

    // Pad the formatted value with zeros to make it 2 characters long
    let cvcNumberPaddedValue = cvcNumberFormattedValue.padStart(3, '0');

    if (cvcNumberInputValue.length > 3) {
      (cvcNumberInputField as HTMLInputElement).value =
        cvcNumberInputValue.substring(0, 3);
      return;
    }

    (cvcNumberOutput as HTMLSpanElement).textContent = cvcNumberPaddedValue;
  }
</script>

<style>
  .card_section {
    display: flex;
    flex-direction: column;
  }
</style>
