---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Form from '../components/Form.astro';
---

<Layout title="Frontend Mentor | Interactive card details form">
  <main>
    <section class="card_section">
      <Card display="back" align="end" style={{ marginBottom: '-60px' }} />
      <Card display="front" align="start" />
    </section>
    <Form />
  </main>
</Layout>

<script>
  const cardNumberInputField = document.getElementById('cardNumber');

  if (cardNumberInputField) {
    cardNumberInputField.addEventListener('input', validateAndUpdateCardNumber);
  }

  function validateAndUpdateCardNumber() {
    const cardNumberOutput = document.getElementById('cardNumberOutput');

    const cardNumberInputValue = (cardNumberInputField as HTMLInputElement)
      .value;

    // Remove any non-digit characters from the input value
    const cardNumberFormattedValue = cardNumberInputValue.replace(/\D/g, '');

    // Pad the formatted value with zeros to make it 16 characters long
    const cardNumberPaddedValue = cardNumberFormattedValue.padEnd(16, '0');

    // Add a space every four characters
    const cardNumberFormattedOutput = cardNumberPaddedValue.replace(
      /(.{4})/g,
      '$1 ',
    );

    if (cardNumberInputValue.length > 16) {
      (cardNumberInputField as HTMLInputElement).value =
        cardNumberInputValue.substring(0, 16);
      return;
    }
    (cardNumberOutput as HTMLDivElement).textContent =
      cardNumberFormattedOutput;
  }
</script>

<style>
  main {
    min-height: 100vh;
    background-image: url('bg-main-mobile.png');
    background-repeat: no-repeat;
    background-color: white;
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .card_section {
    display: flex;
    flex-direction: column;
  }
</style>
