---
import Layout from '../layouts/Layout.astro';

let cardData;

if (Astro.cookies.has('cardData')) {
  cardData = Astro.cookies.get('cardData').json();

  Astro.cookies.delete('cardData');
}
---

<Layout title="Frontend Mentor | Interactive card details form">
  success
  <div>{cardData?.ownerName ?? ''}</div>
  <div>{cardData?.cardNumber ?? ''}</div>
  <div>{cardData?.expDateM ?? ''}</div>
  <div>{cardData?.expDateY ?? ''}</div>
  <div>{cardData?.cvcNumber ?? ''}</div>
</Layout>
