---
import Button from '../components/Button.astro';
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';

let cardData;

if (!Astro.cookies.has('success')) {
  return Astro.redirect('/');
}

if (Astro.cookies.has('cardData')) {
  cardData = Astro.cookies.get('cardData').json();

  Astro.cookies.delete('cardData');
  Astro.cookies.delete('success');
  Astro.cookies.delete('errors');
}
---

<Layout title="Frontend Mentor | Interactive card details form">
  <h1 style="display: none;">Thank you page</h1>
  <div class="card_section">
    <Card display="back" align="end" cardData={cardData} />
    <Card display="front" align="start" cardData={cardData} />
  </div>
  <section class="thank_you_section">
    <h2 class="thank_you_section__title">Thank you!</h2>
    <p class="thank_you_section__description">We've added your card details</p>
    <Button
      style="margin-top: 45px; align-self: stretch;"
      label="Continue"
      href="/"
    />
  </section>
</Layout>

<script>
  import JSConfetti from 'js-confetti';

  const jsConfetti = new JSConfetti();

  jsConfetti.addConfetti();
</script>

<style>
  .card_section {
    display: flex;
    flex-direction: column;
    max-width: 415px;
    place-self: center top;
  }

  .thank_you_section {
    background-image: url(/images/icon-complete.svg);
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: 48px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    max-width: 415px;
  }

  .thank_you_section__title {
    padding-top: 113px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 4px;
    color: var(--very-dark-violet);
  }

  .thank_you_section__description {
    margin-top: 12px;
    letter-spacing: 0.1px;
    color: var(--dark-grayish-violet);
  }

  @media screen and (min-width: 500px) {
    .card_section {
      margin-left: 10%;
    }
  }
  @media screen and (min-width: 760px) {
    .card_section {
      margin-left: 20%;
    }
  }
  @media screen and (min-width: 1000px) {
    .card_section {
      margin-left: 30%;
    }
  }
  @media screen and (min-width: 1200px) {
    .card_section {
      margin-left: 148px;
      margin-right: -85px;
      max-width: 700px;
      place-self: center stretch;
    }

    .thank_you_section {
      align-self: center;
      width: 396px;
    }
  }
</style>
