---
export interface Props {
  display: 'front' | 'back';
  align: 'start' | 'center' | 'end';
  style?: {};
}

const { display, align, style } = Astro.props;
---

<div
  class:list={[
    `card card_${display}`,
    {
      align_start: align === 'start',
      align_center: align === 'center',
      align_end: align === 'end',
    },
  ]}
  style={style}
>
  {
    display === 'front' && (
      <>
        <div class="card_front__number" id="outputDiv">
          0000 0000 0000 0000
        </div>
        <div class="card_front__owner">Jane Appleseed</div>
        <div class="card_front__date">00/00</div>
      </>
    )
  }
  {display === 'back' && <div class="card_back__cvc_number">000</div>}
</div>

<style>
  .card {
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    color: var(--light-grayish-violet);
    width: 285px;
    height: 156px;
  }
  .card_front {
    background-image: url('bg-card-front.png');
  }

  .card_front::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    left: 18.5px;
    top: 19px;
    background-color: white;
    opacity: 95%;
  }

  .card_front::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    left: 60px;
    top: 27px;
    border: 2px solid white;
    opacity: 80%;
  }

  .card_front__date {
    position: absolute;
    right: 24px;
    top: 123px;
    font-size: x-small;
  }

  .card_front__number {
    position: absolute;
    left: 18.5px;
    top: 83px;
    letter-spacing: 2.15px;
  }

  .card_front__owner {
    position: absolute;
    left: 18.5px;
    top: 123px;
    font-size: x-small;
    text-transform: uppercase;
    letter-spacing: 0.6px;
  }

  .card_back {
    background-image: url('bg-card-back.png');
  }

  .card_back__cvc_number {
    position: absolute;
    right: 40px;
    top: 69.5px;
    font-size: x-small;
  }

  .align_start {
    align-self: start;
  }
  .align_center {
    align-self: center;
  }
  .align_end {
    align-self: end;
  }
</style>
