---
export interface Props {
  display: 'front' | 'back';
  align: 'start' | 'center' | 'end';
  classname?: string;
  style?: {};
  cardData?: {
    cardNumber: string;
    ownerName: string;
    expDateM: string;
    expDateY: string;
    cvcNumber: string;
  };
}

const { display, align, style, cardData, classname } = Astro.props;
---

<div
  class:list={[
    `card card_${display}`,
    classname,
    {
      align_start: align === 'start',
      align_center: align === 'center',
      align_end: align === 'end',
    },
  ]}
  style={style}
>
  {
    display === 'front' && (
      <>
        <div class="card_front__number" id="cardNumberOutput">
          {cardData?.cardNumber ?? '0000 0000 0000 0000'}
        </div>
        <div class="card_front__owner" id="ownerNameOutput">
          {cardData?.ownerName ?? 'Jane Appleseed'}
        </div>
        <div class="card_front__date">
          <span id="expDateMOutput">{cardData?.expDateM ?? '00'}</span>
          <span style="margin-left: -2px; margin-right: -1.5px;">/</span>
          <span id="expDateYOutput">{cardData?.expDateY ?? '00'}</span>
        </div>
      </>
    )
  }
  {
    display === 'back' && (
      <div class="card_back__cvc_number" id="cvcNumberOutput">
        {cardData?.cvcNumber ?? '000'}
      </div>
    )
  }
</div>

<style>
  .card {
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    color: var(--light-grayish-violet);
    width: 285px;
    height: 156px;
  }
  .card_front {
    background-image: url(/images/bg-card-front.png);
  }

  .card_front::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    left: 18.5px;
    top: 19px;
    background-color: white;
    opacity: 95%;
  }

  .card_front::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    left: 60px;
    top: 27px;
    border: 2px solid white;
    opacity: 80%;
  }

  .card_front__date {
    position: absolute;
    right: 24px;
    top: 123px;
    font-size: x-small;
  }

  .card_front__number {
    position: absolute;
    left: 18.5px;
    top: 83px;
    letter-spacing: 2.15px;
  }

  .card_front__owner {
    position: absolute;
    left: 18.5px;
    top: 123px;
    font-size: x-small;
    text-transform: uppercase;
    letter-spacing: 0.6px;
  }

  .card_back {
    background-image: url(images/bg-card-back.png);
    margin-bottom: -60px;
  }

  .card_back__cvc_number {
    position: absolute;
    right: 40px;
    top: 69.5px;
    font-size: x-small;
  }

  .align_start {
    align-self: start;
  }
  .align_center {
    align-self: center;
  }
  .align_end {
    align-self: end;
  }

  @media screen and (min-width: 1200px) {
    .card {
      height: 245px;
      width: 447px;
    }

    .card_back {
      order: 2;
      margin-bottom: 0px;
    }

    .card_front {
      order: 1;
      margin-top: -45px;
      margin-bottom: 36px;
    }

    .card_front::after {
      width: 48px;
      height: 48px;
      left: 33px;
      top: 28px;
    }

    .card_front::before {
      width: 24px;
      height: 24px;
      left: 95px;
      top: 40px;
    }

    .card_front__date {
      right: 33px;
      top: 198px;
      font-size: medium;
    }

    .card_front__number {
      left: 31px;
      top: 135px;
      font-size: 30px;
    }

    .card_front__owner {
      left: 31px;
      top: 200px;
      font-size: medium;
      letter-spacing: 0.6px;
    }

    .card_back__cvc_number {
      right: 60px;
      top: 108px;
      font-size: medium;
    }
  }
</style>
