---
let errors;
let cardData;

if (Astro.cookies.has('errors')) {
  errors = Astro.cookies.get('errors').json();

  Astro.cookies.delete('errors');
}

if (Astro.cookies.has('cardData')) {
  cardData = Astro.cookies.get('cardData').json();

  Astro.cookies.delete('cardData');
}
---

<section class="form_section">
  <form action="/cardData" method="POST">
    <div>
      <label>
        Cardholder Name
        <input
          type="text"
          name="ownerName"
          id="ownerName"
          placeholder="e.g. Jane Appleseed"
          minlength="5"
          maxlength="32"
          required
          value={cardData?.ownerName ?? ''}
        />
      </label>
      {errors?.ownerName && <p>{errors.ownerName}</p>}
    </div>
    <div>
      <label>
        Card Number
        <input
          id="cardNumber"
          type="number"
          name="cardNumber"
          placeholder="e.g. 1234 5678 9123 0000"
          minlength="16"
          maxlength="16"
          required
          value={cardData?.cardNumber ?? ''}
        />
      </label>
      {errors?.cardNumber && <p>{errors.cardNumber}</p>}
    </div>
    <div>
      <label>
        Exp. Date (MM/YY)
        <input
          type="number"
          placeholder="MM"
          name="expDateM"
          id="expDateM"
          minlength="2"
          maxlength="2"
          required
          value={cardData?.expDateM ?? ''}
        />
        <input
          type="number"
          placeholder="YY"
          name="expDateY"
          minlength="2"
          maxlength="2"
          id="expDateY"
          required
          value={cardData?.expDateY ?? ''}
        />
      </label>
      {errors?.expDate && <p>{errors.expDate}</p>}
    </div>
    <div>
      <label>
        CVC
        <input
          type="number"
          placeholder="e.g. 123"
          id="cvcNumber"
          name="cvcNumber"
          minlength="3"
          maxlength="3"
          required
          value={cardData?.cvcNumber ?? ''}
        />
      </label>
      {errors?.cvcNumber && <p>{errors.cvcNumber}</p>}
    </div>

    <button>Confirm</button>
  </form>
</section>

<style>
  .form_section {
    background-color: chocolate;
    margin-top: 40px;
  }
</style>
